version: 2.1
orbs:
  node: circleci/node@4.5.1
  slack: circleci/slack@4.4.2

jobs:
  build:
    executor:
      name: node/default
      tag: '14.17.0'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run: yarn build
      - slack/notify:
          event: pass
          template: basic_success_1
      - slack/notify:
          event: fail
          template: basic_fail_1
          mention: '@U01UFTNHPKQ'
  lint:
    executor:
      name: node/default
      tag: '14.17.0'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run: yarn lint
      - slack/notify:
          event: fail
          template: basic_fail_1
          mention: '<@U01UFTNHPKQ>'

workflows:
  version: 2
  ci:
    jobs:
      - build:
          context: slack
      - lint:
          requires:
            - build
